/*footer.css*/
.footer {
  background: black;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.footer-contatos {
  font-size: 2.25rem;
  margin-bottom: 15px;
}

.footer-icones {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.footer-icones a {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background: white;
  color: black;
}

.footer-icones a:hover {
  opacity: 0.7;
}

.footer-copy {
  margin-top: 30px;
  font-size: 1.125rem;
  color: #d1d1d1;
}