/*introducao.css*/
.introducao {
  max-width: 1200px;
  padding: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao img {
  border-radius: 50%;
  width: 400;
  height: 400;
}

.introducao h2 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao p {
  font-size: 1.5rem;
  color: #d1d1d1;
}

/* Até 1000px (apenas diminui fonte) */
@media (max-width: 1000px) {
  .introducao h2 {
    font-size: 3rem;
  }
}

/* Até 800px → vira COLUNA (imagem em cima, texto embaixo) */
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr; /* agora vira coluna */
    text-align: center; /* deixa centralizado */
  }

  .introducao img {
    margin: 0 auto; /* centraliza a imagem */
  }

  .introducao h2 {
    font-size: 2rem;
  }
}

/* Até 400px → só esconde se quiser mesmo */
@media (max-width: 400px) {
  .introducao img {
    display: none; /* opcional */
  }
}