/*skills.css*/
.skills {
  background: #dd9147;
  color: white;
  text-align: center;
  padding: 100px;
}

.subtitulo_skills {
  font-size: 50px;
}

.skills p {
  padding: 0 50px;
}

.img_skills {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.img_skills img {
  width: 90px;   /* tamanho das imagens */
  height: 90px;
  object-fit: contain;
}

.skills p {
  font-size: 1.5rem;
  padding: 20px 150px 50px 150px;
  margin-top: 20px;
}

@media (max-width: 800px){
  .skills {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: left;
    padding: 20px;
  }

  .skills .img_skills {
    justify-content: flex-start; /* joga pro canto esquerdo */
    align-items: center;         /* mantém alinhado verticalmente */
    margin: 30px 30px 30px 0px;
  }

  .skills p {
    padding: 5px 100px 5px 5px;
  }
}